name: Python application

on:
  push:
    branches:
      - main
      - feat/job-queue-and-dockerization

  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Sync dependencies
        working-directory: backend
        run: |
          uv sync --frozen

      - name: Test with pytest
        working-directory: backend
        run: |
          uv run pytest -v
